.shop {
  padding: 2rem 1rem;
}

.shopTitle h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 2rem;
}

@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on tablets */
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr; /* 1 per row on mobile */
  }
}

